[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "edgebundleR"]
	path = edgebundleR
	url = https://github.com/garthtarr/edgebundler
[submodule "mplot"]
	path = mplot
	url = https://github.com/garthtarr/mplot
[submodule "pairsD3"]
	path = pairsD3
	url = https://github.com/garthtarr/pairsd3
